body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --main-color: #5252cc;
  --chip-color: #b71d1c;
  --disabled-color: #ccc;
}
.icon-wrapper{
  padding: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.icon-wrapper svg{
  width: 20px;
  height: 20px;
}
.icon-wrapper:hover{
  background: rgba(204, 204, 204, 0.144);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.w-6 {
  width: 25px;
}
.h-6 {
  width: 25px;
}
.gap-2{
  gap:6px
}
a{
  text-decoration: none;
}
a:hover{
  color: var(--main-color);
}