body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --main-color: #5252cc;
  --disabled-color: #ccc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.w-6 {
  width: 25px;
}
.h-6 {
  width: 25px;
}
.gap-2{
  gap:6px
}
